<!DOCTYPE html>
<html>
  <head>
    <title>TradeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <!--
      <div class="header-logo">
        <%= link_to("/") do %>
          <img src="/nogizaka_logo.png">
        <% end %>
      </div>
      -->
      <div class="header-main">
        <h1><%= link_to("Trading App", "/") %></h1>
      </div>
      <%# <hr size="10" color="#7e1083"> %>
      <% if @current_user%>
        <div class="menu-main">
           <ul class="nav">
            <li><%= link_to("マイページ", "/users/#{@current_user.id}")%></li>
            <li><%= link_to("投稿一覧", "/posts/index")%></li>
            <li><%= link_to("提供する", "/posts/new")%></li>
            <li><a>おねだり</a></li>
            <li><a>検索</a></li>
          </ul>
        </div>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="flash" id='moment'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="footer-main">
        <ul>
          <li><%= link_to("データ追加", "/developer/addition")%></li>
          <li><%= link_to("データ一覧", "/developer/data_show")%></li>
          <li><%= link_to("ユーザ一覧", "/users/index")%></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
